<section class="property-binding">
  <!--
  <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>O resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property bindings</h3>
      <img [src]="urlImagem">
  </article>
  -->

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value=""></option>
        <option value="success">success</option>
        <option value="info">info</option>
        <option value="warning">warning</option>
        <option value="danger">danger</option>
      </select>

      <br>
      <br>

      <ngb-alert [type]="classe.value" [style.display]="classe.value ? 'inline' : 'none'">ace of spades</ngb-alert>
    </div>
  </article>
</section>
